@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: 'VelaSans-Regular';
  src: url('../../assets/fonts/VelaSans/VelaSans-Regular.ttf');
}

@font-face {
  font-family: 'VelaSans-Medium';
  src: url('../../assets/fonts/VelaSans/VelaSans-Medium.ttf');
}

@font-face {
  font-family: 'VelaSans-SemiBold';
  src: url('../../assets/fonts/VelaSans/VelaSans-SemiBold.ttf');
}

@font-face {
  font-family: 'VelaSans-Bold';
  src: url('../../assets/fonts/VelaSans/VelaSans-Bold.ttf');
}

@font-face {
  font-family: 'VelaSans-ExtraBold';
  src: url('../../assets/fonts/VelaSans/VelaSans-ExtraBold.ttf');
}
